<% include ../partials/header %>

<div class="container" id="edit-image">
			<img class="img-responsive" id="edit-image" src="<%= campground.image %>">
</div>

<div class="container">
	<h1 class="text-center">Edit <%= campground.name %></h1>

	<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="campground-form">
	  <div class="form-group">
	    <input type="text" name="campground[name]" placeholder="Campground Name" value ="<%= campground.name %>" class="form-control" maxlength="1000">
	  </div>
	  <div class="form-group">
	    <input type="text" name="campground[img]" placeholder="Image Link" value="<%= campground.image %>" class="form-control" maxlength="1000">
	  </div>
	  <div class="form-group">
	    <textarea name="campground[description]"  class="form-control" maxlength="3000" rows="10"><%= campground.description %></textarea>
	  </div>
	  <button type="submit" class="btn btn-block btn-success">Submit</button>
	</form>

</div>

<% include ../partials/footer %>