<% include ../partials/header.ejs %>

<div class="container">
	<div class="row">
  <div class="col-md-3">
  	<p class="lead">Yelp Camp</p>
		<div class="list-group">
		  <a href="#" class="list-group-item active">Info 1</a>
		  <a href="#" class="list-group-item">Info 2</a>
		  <a href="#" class="list-group-item">Info 3</a>
		</div>
  </div>
	<div class="col-md-9">
	  	<div class="thumbnail">
			<img class="img-responsive" src="<%= campground.image %>">

			<div class="campground-info">
				<p id="submit-user">Submited by: <strong><%= campground.author.username %></strong></p>
				<h3 class="pull-right">$9.00/night</h3>
				<h3 class="pull-left"><%= campground.name %></h3>
				<p id="campground-description"><%= campground.description %></p>
			</div>
			

	  	</div>
	  	<div class="comment-div">
	  		<div class="comment-button text-right">
	  			<a class="btn btn-primary btn-sm" href="/campgrounds/<%= campground._id %>/comments/new">New Comment</a>
	  		</div>
			<% campground.comments.forEach(function(comment){ %>
			<div class="comment-header">
				
				<p id="comment-author"><strong><%= comment.author.username %></strong></p>
				<p id="comment-date"><strong><%= moment(comment.date).format('MM/DD/YYYY') %></strong></p>
			</div>
			<div id="comment-body">
				<p><%= comment.body %></p>
			</div>
			
			<% }) %>
	  	</div>
	</div>
  	</div>
  		
</div>



<% include ../partials/footer.ejs %>